
.header {
    position: relative;
    height: 100vh;
    min-height: 1020px;
    max-height: 1065px;
    h2 {
      margin: auto;
    }
    &__sign {
      margin-left: 2%;
      margin-top: 5%;
      h2 {
        font-size: pxToRem(50);
      }
      h4 {
        font-size: pxToRem(15);
      }
    }
    &__menu {
      margin-left: 2%;
      margin-bottom: -60px;
      margin-top: 4%;
      height: 220px;
      width: 7%;
      min-width: 88px;
      div {
        width: 100%;
      }
      h4 {
        font-weight: bold;
        font-size: pxToRem(25);
        cursor: pointer;
      }
      p {
        font-size: pxToRem(15);
        cursor: pointer;
        transition: 300ms;
        &:hover{
          color: black;
        }
      }
    }
    &__header {
      color: white;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      h2 {
        font-size: pxToRem(30);
        margin-top: 5%;
      }
      span {
        font-size: pxToRem(80);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.9486169467787114) 0%,
          rgba(255, 255, 255, 1) 60%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__square {
      border: 4px solid white;
      width: 20%;
      min-width: 260px;
      height: 35%;
      display: grid;
      text-align: center;
      float: right;
      right: 0;
      margin-right: 8%;
      margin-bottom: 50px;
      max-height: 340px;
      justify-content: center;
      align-content: center;
      p {
        font-size: pxToRem(60);
        font-weight: bold;
        margin: auto;
      }
    }
  }