.app {
  width: 100vw;
}
.header {
  position: relative;
  height: 100vh;
  h2 {
    margin: auto;
  }
  &__sign {
    margin-left: 2%;
    margin-top: 5%;
    h2 {
      font-size: 50px;
    }
    h4 {
      font-size: 15px;
    }
  }
  &__menu {
    margin-left: 2%;
    margin-bottom: -60px;
    margin-top: 4%;
    height: 220px;
    width: 7%;
    div {
      width: 100%;
    }
    h4 {
      font-weight: bold;
      font-size: 25px;
      cursor: pointer;
    }
    p {
      font-size: 15px;
      cursor: pointer;
      transition: 300ms;
      &:hover{
        color: black;
      }
    }
  }
  &__header {
    color: white;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 30px;
      margin-top: 5%;
    }
    span {
      font-size: 80px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9486169467787114) 0%,
        rgba(255, 255, 255, 1) 60%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__square {
    border: 4px solid white;
    width: 20%;
    height: 35%;
    display: grid;
    text-align: center;
    float: right;
    right: 0;
    margin-right: 8%;
    margin-bottom: 50px;
    max-height: 340px;
    justify-content: center;
    align-content: center;
    p {
      font-size: 60px;
      font-weight: bold;
      margin: auto;
    }
  }
}
.main {
  width: 100%;
  &__categories {
    justify-content: center;
    display: flex;
    align-items: center;
    div {
      width: 15%;
      border-bottom: 2px solid rgb(118, 118, 226);
      margin: 15px;
      a {
        text-decoration: none;
      }
      p {
        cursor: pointer;
        color: rgb(118, 118, 226);
      }
    }
  }
  &__categories div.active {
    border-bottom: 2px solid rgb(179, 217, 245);
    p {
      color: rgb(179, 217, 245);
    }
  }
  &__header {
    color: white;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    h2 {
      font-size: 30px;
    }
    span {
      font-size: 80px;
    }
  }
  &__service {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 37vh;
  }
  &__descriptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 15vh;
    border: 2px solid rgb(122, 122, 242);
    border-radius: 50px;
    margin: 15px 0;
    cursor: pointer;
    transition: 300ms;
    &:hover{
      transform: scale(1.1);
    }
    div {
      width: 40%;
      h2,
      p {
        margin: 0;
        cursor: pointer;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
.main__descriptions.active {
  width: 100%;
  height: 100%;
}
.main__descriptions.false {
  display: none;
}
.project {
  margin-top: 100px;
  transition: 300ms;
  button:hover{
    border: 1px solid #9947c2;
  }
  h1 {
    text-align: center;
    font-size: 55px;
  }
  &__wrapper {
    width: 65%;
    margin: 50px auto;
    display: flex;
    position: relative;
    height: 70vh;
    button {
      margin: 15px 88px 5px 0;
      width: 20%;
    }
  }
  &__subwrapper-first {
    width: 60%;
    position: relative;
    top: 10%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .project__button {
      margin-right: 10%;
    }
  }
  &__subwrapper-second {
    width: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 10px;
  }
  &__second-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__first,
  &__second,
  &__third {
    @include firstsecondthird;
  }
  &__first {
    width: 100%;
    img {
      -webkit-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 1);
      box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 1);
    }
    div {
      left: 1%;
    }
  }
  &__second,
  &__third {
    width: 90%;
    div {
      right: 1%;
      p {
        color: black;
      }
    }
  }
  &__third {
    margin-top: 10px;
  }
}
.technology {
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: rgb(0, 0, 61);
  h2 {
    font-size: 55px;
    text-align: center;
    align-self: center;
  }
  &__paragraph {
    display: grid;
    justify-content: center;
    p {
      font-size: 20px;
    }
  }
  &__tools {
    display: flex;
    justify-content: center;
    img {
      width: 32px;
    }
  }
  &__container {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 5px;
    }
    p {
      text-align: center;
      font-size: 12px;
    }
  }
}
.client {
  height: 60vh;
  display: grid;
  transition: 300ms;
  button:hover{
    border: 1px solid #9947c2;
  }
  h2,
  h3 {
    text-align: center;
    font-size: 55px;
  }
  button {
    width: 10%;
    margin-left: 50%;
    margin-top: 15px;
  }
  &__slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  &__slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  &__opinion {
    width: 99%;
    height: 220px;
    margin-right: 6px;
    border: 2px solid white;
    border-radius: 35px;
    display: inline-grid;
    img {
      margin: 0 10px;
    }
    div {
      margin: 0 10px;
    }
    span img {
      transform: rotate(180deg);
      float: right;
    }
  }
  &__text {
    p {
      white-space: normal;
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(95,83,181);
background: linear-gradient(0deg, rgba(95,83,181,1) 0%, rgba(16,21,113,1) 60%);
  p {
    cursor: pointer;
  }
  &__sign {
    h2 {
      font-size: 50px;
    }
    h4 {
      font-size: 15px;
    }
  }
  div {
    margin: 0 30px;
    p:hover{
      color: #9947c2;
      transition: 300ms;
    }
  }
  &__img {
    img {
      width: 45px;
      height: 45px;
      margin: 0 10px;
      cursor: pointer;
      transition: 400ms;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
}
.websites,
.applications,
.ux,
.software {
  &__wrapper {
    width: 70%;
    margin: auto;
  }
  &__subwrapper {
    display: flex;
  }
  &__mobile {
    position: relative;
    overflow: hidden;
  }
  &__iphone {
    position: relative;
    z-index: 2;
    height: 100%;
  }
  &__projects {
    width: 98%;
    height: 51%;
    position: absolute;
    top: 8%;
    left: 1%;
    transition: 1000ms ease;
    img {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  &__content {
    width: 51%;
    white-space: nowrap;
    overflow: hidden;
    div {
      height: 100%;
      width: 100%;
      display: inline-block;
      transition: ease 1000ms;
      position: relative;
      h3,
      p {
        text-align: center;
      }
      button {
        position: absolute;
        bottom: 0;
        left: 42%;
        width: 20%;
        transition: 300ms;
        &:hover{
          border: 3px solid #9947c2;
        }
      }
    }
  }
}
.ux__mobile {
  border-radius: 50px;
  img {
    width: 100%;
  }
}
.applications {
  &__projects {
    width: 89%;
    height: 95%;
    position: absolute;
    top: 2%;
    left: 6%;
  }
  &__mobile {
    height: 600px;
  }
}
.slideshowDot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c4c4c4;
  cursor: pointer;
}
.slideshowDot.active {
  background-color: $c-flirt;
}
.leftbuton {
  &__wrapper {
    width: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 70px;
    margin: auto;
    transition: 300ms;
    &:hover{
      border: 2px solid #8b2dba;
    }
  }
  &__subwrapper {
    transform: rotate(90deg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    img:not(:nth-child(2)) {
      transform: rotate(180deg);
    }
    img {
      cursor: pointer;
    }
  }
}
.contact {
  margin: auto;
  width: 50%;
  form {
    display: grid;
    label {
      color: white;
      text-align: center;
    }
    input,
    textarea {
      width: 50%;
      margin: 15px auto;
      height: 50px;
      border-radius: 10px;
    }
    textarea {
      height: 150px;
    }
    button {
      width: 20%;
      color: white;
      margin-top: 15px;
      margin-left: auto;
      height: 50px;
    }
    p {
      width: 6%;
      margin: 0 0 0 10%;
      font-size: 40px;
      cursor: pointer;
    }
  }
}
.noscroll{
  overflow: hidden;
}
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(145, 145, 145, 0.555);
  z-index: 4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &__wrapper{
    width: 25%;
    height: 20%;
    background-color: rgb(30, 30, 106);
    border-radius: 50px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }
  p:nth-child(1){
    text-align: right;
margin: auto 35px auto 0;
font-size: 26px;
cursor: pointer;
  }
  p:nth-child(2){
    text-align: center;
font-size: 18px;
  }
}